# NTP configuration {{ ansible_managed }}

driftfile {{ ntpd_drift_file }}

leapfile {{ ntpd_leap_file }}

statdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).
{% for item in ntp_servers %}
server {{ item }}
{% endfor %}

# Prohibit general access to this service.
#restrict -4 default ignore
#restrict -6 default ignore

# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
restrict -4 default nomodify nopeer noquery notrap
restrict -6 default nomodify nopeer noquery notrap

## Restrict eth0 ip

# Permit systems on this network to synchronize with this
# time service. But not modify our time.
{# {% for item in ntp_restrict %}
restrict {{ item }} nomodify
{% endfor %} #}

# Allow the following unrestricted access to ntpd from systems in these networks
{% for item in ntp_restrict %}
restrict {{ item }} 
{% endfor %}

